h2 {
    margin-top: 50px;
}

.disabled {
    cursor: not-allowed;
}

input[type=text], input[type=email] {
    width: 500px !important;
}

.verifiy-form select[multiple] {
    height: 200px !important;
}