h1 {
    margin-bottom: 30px !important;
}

.title-label {
    margin-top: 40px !important;
    font-size: 2em !important;
}

[disabled] {
    cursor: not-allowed !important;
}

/*
 * Forms
 */
input {
    transition: border 250ms !important;
}

.input-register-container {
    display: grid;
    grid-column-gap: 15px;
    margin-bottom: 15px;

    font-size: 17px !important;
    height: 50px;
}

.input-register-2 {
    grid-template-columns: 1fr max-content;
}

.input-register-3 {
    grid-template-columns: 1fr repeat(2, max-content);
}

.input-register-4 {
    grid-template-columns: 1fr 30% repeat(2, max-content);
}

:not([disabled]).is-valid {
    border: #198754 2px solid !important;
}

:not([disabled]).is-valid:focus {
    box-shadow: 0 0 0 5px rgba(25, 135, 84, 0.25) !important;
}

:not([disabled]).is-invalid {
    border: #dc3545 2px solid !important;
}

:not([disabled]).is-invalid:focus {
    box-shadow: 0 0 0 5px rgba(220, 53, 69, 0.25) !important;
}

.verifiy-form select[multiple] {
    height: 200px !important;
}

.user-field-login {
    height: 50px !important;
    width: 500px;

    font-size: 20px;
}

/*
 * Tables
 */
.data-table {
    width: 100%;
    margin: 0;
}

.data-table tbody tr {
    height: 50px !important;
}

.data-table .row-title {
    width: calc(100% / 5) !important;
}

.is-row-hover:hover {
    background-color: #c3d0e3 !important;
    cursor: pointer;
}

.row-title {
    padding: 10px !important;
}

.striped .is-resp:nth-child(odd), .underline-orange {
    background-color: #ffdcb8 !important;
}

.striped .is-resp:nth-child(even) {
    background-color: #f5d0a9 !important;
}

.striped .row-hover:nth-child(odd), .underline-blue {
    background-color: #bfdaff !important;
}

.striped .row-hover:nth-child(even) {
    background-color: #b1cff5 !important;
}


/*
 * Buttons
 */
.button-large {
    font-size: 17px !important;
    width: 100%;
    height: 50px;

    margin: 20px 0 20px 0 !important;
    transition: color 250ms, background-color 250ms;
}

.button-large .dashicons {
    margin: 7px;
}

.export-dropdown.button-large {
    max-width: 100%;
}

.input-register-2 .export-dropdown:first-child {
    padding-left: 41%;
}

.button-delete {
    background-color: #d30e0e !important;
    border-color: #d30e0e !important;
}

.button-delete:hover {
    background-color: #8a2424 !important;
    border-color: #8a2424 !important;
}

.button-secondary-delete {
    color: #d30e0e !important;
    border-color: #d30e0e !important;
}

.delete-link {
    background: none;
    border: none;
    color: #d30e0e !important;
    cursor: pointer;
}

.button-link-ires.export-dropdown {
    width: 55px !important;
}

.button-link-ires:focus {
    border: none !important;
    box-shadow: none !important;
}

.button-link-ires:hover, .button-link-ires:hover {
    color: #135e96 !important;
}

.button-link-ires {
    padding: 0 !important;
    margin: 0;

    min-height: unset !important;
    max-width: unset !important;
    line-height: unset !important;

    border: none !important;
    background: none !important;
    color: rgb(34, 113, 177) !important;

    cursor: pointer;
    font-size: 14px !important;
}


/*
 * Users list
 */
.hide-actions {
    opacity: 0;
}

tr:hover .hide-actions {
    opacity: 1;
}

.name {
    width: 25%;
}

.action-list-bar {
    display: grid;
    grid-template-columns: 1fr fit-content(100%);
    grid-gap: 10px;

    margin-bottom: 5px;
}

/*
 * Popups
 */
.popup-element {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 200ms ease-in-out;

    background-color: white;
    width: 500px;
    max-width: 80%;

    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.popup.active .popup-element {
    transform: translate(-50%, -50%) scale(1);
}

.popup-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    background-color: #d30e0e !important;
    color: white;
}

.popup-title {
    font-weight: bold;
    font-size: 17px;
    margin: 0;
}

.popup-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 25px;
    font-weight: bold;

    color: white;
}

.popup-body {
    padding: 10px 15px;
}

.popup {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100vw;
    height: 100vh;

    z-index: 100;
    opacity: 0;
    transition: opacity 200ms ease-in-out;
    pointer-events: none;
}

.popup.active {
    opacity: 1;
    pointer-events: auto;
}

/**
 * Autocomplete and dropdown height
 */
.ui-autocomplete {
    max-height: 400px !important;
    overflow-y: scroll;
}

/*
 * Switches
 */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #c3c4c7;
    transition: 400ms;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 400ms;
}

.switch-radio[disabled] + .slider {
    pointer-events: none;
    opacity: 0.5;
}

.switch-radio[value=oui] + .slider {
    background-color: #135e96;
}

.switch-radio:focus + .slider {
    box-shadow: 0 0 1px #135e96;
}

.switch-radio[value=oui] + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
