h1 {
    margin-bottom: 30px !important;
}

h2, .title-label {
    margin-top: 40px !important;
}

.title-label {
    font-size: 2em !important;
}

.disabled {
    cursor: not-allowed;
}

.verifiy-form select[multiple] {
    height: 200px !important;
}

.hide-info {
    display: none;
}